/* variabili */
$color-bg: #C8D5B9;
$color-white-soft: #FAF9F6;
$color-surface: #FDF3D4;
$color-primary: #F3E6BB;
$color-secondary: #A8C3A0;
$color-accent: #E39B6D;
$color-text: #2F2A26;
$color-text-soft: #6B655D;
$color-border: #E7D9AA;
$color-hover: #EBCF8F;
$color-success: #7BAE7F;
$color-warning: #D9A441;
$color-danger: #C96B5C;
$font-primary: 'Prompt', sans-serif;
$font-title: 'Prompt', sans-serif;
$font-text: 'Prompt', sans-serif;
$fw-thin: 100;
$fw-extra-light: 200;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;
$fw-extra-bold: 800;
$fw-black: 900;
$font-size-caption: 18px;
$font-size-title: 24px;
$font-size-subtitle: 20px;